version: 2.1

orbs:
  helm: circleci/helm@2.0.1

workflows:
  test:
    jobs:
      - test

  test-daily:
    triggers:
      - schedule:
          cron: "0 6 * * * "
          filters:
            branches:
              only: main
    jobs:
      - test

jobs:
  test:
    docker:
      - image: cimg/go:1.19

    steps:
      - checkout
      - helm/install-helm-client
      # We need to do this to ensure the git status command below returns a
      # clean working tree.
      - run:
          name: Clean up after installation
          command: rm get_helm.sh

      # Make test runs this already, but I'm separating it out here to make the
      # CI output easier to read through.
      - run:
          name: Prepare environment
          command: make prepare

      - run:
          name: Run tests against chart
          command: make test

      - run:
          name: Ensure golden files are up-to-date
          command: |
            make update-golden-files
            [[ -z $(git status --porcelain) ]]
