apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "ld-relay.fullname" . }}-config"
  labels:
    {{- include "ld-relay.labels" . | nindent 4 }}
data:
  {{- range $k, $v := .Values.relay.environment }}
  {{ $k }}: {{ $v | quote }}
  {{- end }}
