apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ld-relay.fullname" . }}
  labels:
    {{- include "ld-relay.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ld-relay.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
      {{- with .Values.pod.annotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ld-relay.selectorLabels" . | nindent 8 }}
        {{- with .Values.commonLabels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.pod.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.pod.priorityClassName }}
      priorityClassName: {{ .Values.pod.priorityClassName }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: {{ include "ld-relay.fullname" . }}-config
        configMap:
          name: {{ include "ld-relay.fullname" . }}-config
      {{ $has_volumes := false }}
      {{- if .Values.relay.volume.definition }}
        {{ $has_volumes = true }}
      - name: {{ include "ld-relay.name" . }}-volume
        {{- toYaml .Values.relay.volume.definition | nindent 8 }}
      {{- end }}
      {{ $has_projected_volume := false }}
      {{- range .Values.relay.secrets }}
        {{- if .volumePath }}
          {{ $has_projected_volume = true }}
        {{- end }}
      {{- end }}

      {{- if $has_projected_volume }}
      - name: {{ include "ld-relay.name" . }}-projected-volume
        projected:
          sources:
            {{- range .Values.relay.secrets }}
              {{- if .volumePath }}
                {{ $has_volumes = true }}
            - secret:
                name: {{ .secretName }}
                items:
                  - key: {{ .secretKey }}
                    path:  {{ .volumePath }}
              {{- end }}
            {{- end }}
      {{- end }}
      {{- with .Values.relay.extraVolumes }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
      serviceAccountName: {{ include "ld-relay.serviceAccountName" . }}
      {{- with .Values.pod.securityContext }}
      securityContext:
          {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- end}}
      {{- with .Values.relay.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if or $has_volumes .Values.relay.extraVolumeMounts }}
          volumeMounts:
            {{- if .Values.relay.volume.definition }}
            - name: {{ include "ld-relay.name" . }}-volume
              mountPath: /mnt/volume
            {{- end }}
            {{- if $has_projected_volume }}
            - name: {{ include "ld-relay.name" . }}-projected-volume
              mountPath: /mnt/secrets/
              readOnly: true
            {{- end }}
            {{- with .Values.relay.extraVolumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}

          {{- if .Values.relay.command }}
          command:
            {{- toYaml .Values.relay.command | nindent 12 }}
          {{- else if .Values.relay.volume.config }}
          command: ["/usr/bin/ldr", "--config", "/mnt/volume/{{ .Values.relay.volume.config }}", "--allow-missing-file", "--from-env"]
          {{- end }}
          {{- if .Values.relay.args }}
          args:
            {{- toYaml .Values.relay.args | nindent 12 }}
          {{- end }}

          env:
            {{- if .Values.relay.volume.offline }}
            - name: FILE_DATA_SOURCE
              value: /mnt/volume/{{ .Values.relay.volume.offline }}
            {{- end }}
            {{- range .Values.relay.secrets }}
              {{- if .envName }}
            - name: {{ .envName }}
              valueFrom:
                  secretKeyRef:
                    key: {{ .secretKey }}
                    name: {{ .secretName }}
              {{- end }}
            {{- end }}
            {{- if .Values.relay.environmentVariables }}
              {{- toYaml .Values.relay.environmentVariables | nindent 12 }}
            {{- end }}

          envFrom:
            {{- if .Values.relay.envFromSecret }}
            - secretRef:
                name: {{ .Values.relay.envFromSecret }}
            {{- end }}
            - configMapRef:
                name: {{ include "ld-relay.fullname" . }}-config
          {{- with .Values.relay.lifecycle }}
          lifecycle:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            {{- range .Values.service.ports }}
              - containerPort: {{ .targetPort }}
                protocol: {{ .protocol }}
                name: {{ .name }}
            {{- end }}
          {{- if .Values.relay.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.relay.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.relay.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.relay.readinessProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.pod.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- range $constraint := . }}
      - {{ toYaml $constraint | nindent 8 | trim }}
          {{- if not $constraint.labelSelector }}
        labelSelector:
          matchLabels:
            {{- include "ld-relay.selectorLabels" $ | nindent 12 }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
