name: Publish Package
on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: "Is this a dry run? If so no package will be published."
        type: boolean
        required: true
      skip_gh_pages:
        description: "Skip publishing to GitHub Pages"
        type: boolean
        required: false
        default: false
      skip_ghcr:
        description: "Skip publishing to GitHub Container Registry (GHCR)"
        type: boolean
        required: false
        default: false

jobs:
  build-publish:
    runs-on: ubuntu-latest
    # Needed to get tokens during publishing.
    permissions:
      id-token: write # Needed if using OIDC to get release secrets.
      contents: write # Contents and pull-requests are for release-please to make releases.
      packages: write # needed for ghcr access
    steps:
      - uses: actions/checkout@v4

      - uses: azure/setup-helm@v4.0.0

      - name: Run quality control checks
        uses: ./.github/actions/ci

      - uses: ./.github/actions/publish-gh-pages
        if: ${{ !inputs.skip_gh_pages }}
        with:
          dry_run: ${{ inputs.dry_run }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/actions/publish-ghcr
        if: ${{ !inputs.skip_ghcr }}
        with:
          dry_run: ${{ inputs.dry_run }}
          token: ${{ secrets.GITHUB_TOKEN }}
